div.feed_princ{
    LINE-HEIGHT:0px;
    margin-left: 2%;
}
h2.feed_title {
    margin-top: 18px;
    font-size: 20px;
    color: red;
    font-weight: bold;
}


p.feed_date {
    color: green;
    font-size: 12px;
}